/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


nav ul a,
nav .brand-logo {
  color: #444;
}

.section1{ /*Bloco azul*/
  padding: 2%;
  height: 400px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

#containerForms{ 
  width: 50%;
}

#box_shadow{
  box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.534);

}

.row .col.s6 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}

#destino{
  width: 100%;
}

#search_button{
  margin: 2% auto 0 0;
}

#form{
  margin: 10px auto;
  padding: 10px 10%;
}

hr#linha{
  margin: 4% auto;

}

#títulosec2{
  font-size: 20px;
  position:absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 5px 15px;

}

#container_cards{
  display: grid;
  grid-template-columns: 35% 35% 35%;
  grid-gap: 10%;
  justify-content: center;
}

@media screen and (max-width: 600px){
  #container_cards{
    grid-template-columns: 35% 35%;
  }

  #títulosec2{
    top: 62%;
  }
}

@media screen and (max-width: 400px){
  #container_cards{
    grid-template-columns: 35%;
  }
}

#títulosec3{
  font-size: 20px;
  position:absolute;
  top: 129.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 5px 15px;
}

@media screen and (max-width: 600px){
  #container_cards{
    grid-template-columns: 35% 35%;
    margin: 50px
  }

  #títulosec3{
    top: 153%;
  }
}

@media screen and (max-width: 400px){
  #container_cards{
    grid-template-columns: 40%;
  }

  #títulosec3{
    top: 136%;
  }
}

img[alt="logo_github"]{
  transform: scale(1.1);
  transition: 0.5s ease;
}

img[alt="logo_github"]:hover{
  transform: scale(1.2);
}
